<h2>Source <strong><%= @source.name%></strong></h2>
<p class="welcome">This source has <%= pluralize @source.documents.size, 'document' %>.
	
	<%= abutton_to 'Edit source', edit_source_path(@source), 'right small magenta'%>
	</p>
