<h2>Edit classifier <strong><%= @classifier.name%></strong></h2>
<%= render :partial => 'form' %>
<%= abutton_to 'Show', classifier_path(@classifier) %> |
<%= abutton_to 'Back to list', classifiers_path %>
